<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto&display=swap" />
</head>

<body>
    <h1>Bienvenido, selecciona una opción</h1>
    <ul>
        <li><a href="/app">app</a></li>
        <li><a href="/vite-preact">vite-preact</a></li>
        <li><a href="/vite-vue">vite-vue</a></li>
        <li><a href="/vite-svelte">vite-svelte</a></li>
        <li><a href="/vite-astro">vite-astro</a></li>
    </ul>
</body>

</html>